/* 
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
  }

  
  body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }

  .main{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   */
   .contenedor {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .footer {
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
  }
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }