<div style="text-align: center; max-width: 100%;">
  <div id="mapa" style="width: 350px; height: 400px; position: relative;"></div>
  <div class="main" ng-controller="mainController">
    <div>
      <button ng-click="verMapa()">Mapa</button>
      <div>IP : {{IP}}</div>
    </div><br />
    <div>
      <div>
        <button ng-click="callGeolocation()">Call Geolocation</button>
      </div><br />
      <div>
        <button ng-click="callIpStack()">Call Stack Ip</button>
        <div>lat: {{stakLatitud}}</div>
        <div>lon: {{stakLongitud}}</div>
      </div><br />
      <div>
        <button ng-click="callIpApi()">Call IP-API</button>
        <div>lat: {{apiLatitud}}</div>
        <div>lon: {{apiLongitud}}</div>
      </div><br />
      <div>
        <button ng-click="getDistance()">Distancia</button>
        <div>Distancia IP-API: {{distancia1}}</div>
        <div>Distancia Stack-API: {{distancia2}}</div>
      </div>
      <button>
        <a href="#!suma">Siguiente</a>
      </button>
    </div>
  </div>