<div style="text-align: center;">
  <!-- <div id="mapid" style="width: 600px; height: 400px; position: relative;"></div> -->
  <div id="map" style="width: 350px; height: 400px; position: relative;"></div>
  <form class="main" ng-controller="sumaController">
    <div>Resultado: {{permisos}}</div><br />
    <div>
      <button ng-click="callGoogleApi()">Call Stack Ip</button>
      <button ng-click="callGeolocation()">Call Geolication</button>
      <button ng-click="getDistance()">Distancia</button>
      <div>GPS: {{gpsLatitud}} longitud: {{gpsLongitud}}</div>
      <div>IP Stack latitud: {{apiLatitud}} longitud: {{apiLongitud}}</div>
      <div>Distancia: {{distancia}}</div>
    </div>
  </form>
</div>